<ion-content [fullscreen]="true">

  <ion-grid id="main">
    <ion-row>
      <ion-col class="title" size="12">
        <h5>Minhas viagens</h5>
        <img src="../../assets/img/logo.png" alt="">
      </ion-col>

      <ng-container *ngIf="tickets && tickets.length >0">

        <ion-col 
          *ngFor="let ticket of tickets; index as i"
          (click)="openModal(ticket.id)"
          [ngStyle]="{'background-image': 'url('+ticket.imagem_logo+')'}" 
          class="tickets" size="12">

          <h5>De: {{ticket.origem}}</h5>
          <h5>Para: {{ticket.destino}}</h5>

        </ion-col>

      </ng-container>

    </ion-row>
  </ion-grid>

</ion-content>