<ion-content [fullscreen]="true">

  <!-- [ngStyle]="{'background-image': 'url('+background+')'}" -->
  <div id="profile" 
  *ngIf="photo && name && email">

    <div class="photo">
      <img class="pic" [src]="photo" alt="">
      <img class="logo" src="../../assets/img/user-logo.png" alt="">
    </div>

    <div class="main">
      <h5 class="glow">
        <strong>
          <ion-icon class="glow" name="person-circle"></ion-icon>
          Usuário:
        </strong>
        {{name}}
      </h5>
      <h5 class="glow">
        <strong>
          <ion-icon class="glow" name="mail"></ion-icon>
          Email:
        </strong>
        {{email}}
      </h5>

    </div>

    <div class="travels">
      <div class="blocote">
        <ion-icon name="ticket"></ion-icon>
        <h5>Tickets: <br />
          {{tots.free}}
        </h5>
      </div>

      <div class="blocote ">
        <ion-icon name="airplane"></ion-icon>
        <h5>Viagens:<br />
          {{tots.total}}
        </h5>
      </div>
    </div>

  </div>
</ion-content>