<ion-content class="ion-padding">

  <div id="ticket">
    <div class="main">

      <ng-container *ngIf="!spinner; notQrCodeBlock">
        <img [src]="generated" alt="">
        <h4>Aeronave: {{ticket.aeronave}}</h4>
        <h4>Origem: {{ticket.origem}}</h4>
        <h4>Destino: {{ticket.destino}}</h4>
        <h4>Horário: {{ticket.hora_viagem}}</h4>
      </ng-container>

      <ion-spinner *ngIf="spinner" color="light" name="circles"></ion-spinner>

    </div>

    <div id="crap" class="main-base " >
      <h1  id="not-consumed">Ticket de embarque</h1>
      <h1  id="consumed">Consumido!</h1>
    </div>
  </div>

  <ion-button expand="full" color="primary" id="close" (click)="closeModal()">Sair</ion-button>
</ion-content>