/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-input {
    background: transparent !important;
    border-radius: 40px !important;
    opacity: 1 !important;
    font-weight: bold !important;
    --placeholder-color: #242424 !important;
    --placeholder-opacity: 1 !important;
    --color: #242424 !important;
    --placeholder-font-weight: bold !important;
}

ion-item {
    --background: transparent !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    ion-select {
        margin-top: 2px;
        color: #242424 !important;
        font-weight: bold !important;
    }
}

label {
    font-size: 15px !important;
    margin-left: 35px;
    color: #242424;
}

ion-tab-bar {
    background-color: #929292;
    color: #fff !important;
    ion-label {
        color: #fff;
        font-size: 15px;
    }
}

ion-tab-button {
    ion-icon {
        color: #fff !important;
    }
    background-color: #929292;
}

.ion-padding {
    --padding-start: 0 !important;
    --padding-end: 0 !important;
    --padding-top: 0 !important;
    --padding-bottom: 0 !important;
}

.remove-opacity {
    opacity: 1 !important;
    transition: 1.5s;
}
